extends layout

block content
  h1 #{title}: #{book._id}
  p #[strong Title:]
    a(href=book.url) #{book.title}
    
  p Do you really want to delete this Book from the library?
   form(method='POST' action='')
      div.form-group
        input#book_id.form-control(type='hidden', name='book_id', required='true', value = book._id )

      button.btn.btn-primary(type='submit') Delete